@import "tailwindcss";

@theme {
  --color-dark-1: #191825;
  --color-dark-2: #1e1e1e;
  --color-dark-3: #2c2c2c;
  --color-dark-4: #183153;
  --color-yellow: #cdf500;
  --color-grey: #bbbbbb;
  --color-purple: #a66cff;
  --font-neucha: neucha;
  --font-courgette: courgette;
  --font-fira-sans: fira-sans;
  --font-fira-sans-bold: fira-sans-bold;
  --font-lobster: lobster;
}
@font-face {
  font-family: courgette;
  src: url("assets/fonts/Courgette-Regular.ttf");
}
@font-face {
  font-family: fira-sans-regular;
  src: url("assets/fonts/FiraSans-Regular.ttf");
}
@font-face {
  font-family: fira-sans-bold;
  src: url("assets/fonts/FiraSans-Bold.ttf");
}
@font-face {
  font-family: lobster;
  src: url("assets/fonts/Lobster-Regular.ttf");
}
@font-face {
  font-family: neucha;
  src: url("assets/fonts/Neucha-Regular.ttf");
}
.gradient-1 {
  background: rgb(44, 44, 44);
  background: radial-gradient(
    circle,
    rgba(44, 44, 44, 1) 0%,
    rgba(15, 15, 15, 1) 100%
  );
}
* button {
  cursor: pointer;
}
.bs-1 {
  box-shadow: 0 0.475em 0 #191825;
}
.bs-2 {
  box-shadow: 0 0.275em 0 #191825;
}
.courgette-regular {
  font-family: "Courgette", cursive;
  font-weight: 400;
  font-style: normal;
}
.gnrtlink {
  @apply bg-gradient-to-b from-white to-gray-100 text-purple-600 border border-purple-500 shadow-lg shadow-purple-500/40 px-6 py-3 rounded-2xl transition-transform transform hover:scale-105 hover:shadow-purple-500/60;
}
.msglink {
  @apply bg-purple-600 px-6 py-3 rounded-2xl shadow-md shadow-purple-500/30 transition-all duration-300 hover:bg-purple-700 hover:shadow-purple-500/50 hover:scale-105;
}
