@import "tailwindcss";

@theme {
  --color-dark-1: #191825;
  --color-dark-2: #1e1e1e;
  --font-neucha: niramit;
}

@font-face {
  font-family: "niramit";
  src: url("assets/fonts/Niramit/Niramit-Regular.ttf");
}
