@import "tailwindcss";

@theme {
  --color-dark-1: #0f0f0f;
  --color-dark-2: #1E1E1E;
  --font-neucha: neucha;
}

@font-face {
  font-family: "neucha";
  src: url("assets/fonts/Neucha/Neucha-Regular.ttf");
}
